:root {
  --color-primary: #fac9e0;
  --color-secondary: #8bebd6;
  --color-light: #2dc497;
  --color-black: #1f2020;
  --color-link: #fa4335;
  --color-white: rgba(255, 255, 255, 0.678);
  --border-size-triangule: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: linear-gradient(var(--color-primary), var(--color-secondary));
  background-attachment: fixed;
  height: 100%;
}

button {
  padding: 0.5rem;
  background: var(--color-secondary);
  border: none;
  border-bottom: 2px solid var(--color-light);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s background, border;
}

button:hover {
  background: var(--color-white);
  border: 1px solid var(--color-light);
}

.card {
  background-color: var(--color-white);
  border-radius: 0.5rem;
  max-width: 350px;
  position: relative;
  margin-left: 3.5rem;
  margin-top: 1.5rem;
}

.Discount {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: var(--color-link);
  cursor: pointer;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.Discount p {
  position: absolute;
  color:  var(--color-link);
  font-size: 0.8rem;
  font-weight: normal;
  bottom: -25px;
  left: -10px;
}

.card img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.card p {
  margin: 0.5rem 0;
}

.card .content {
  padding: 1.5rem;
}

.Form label {
  display: block;
  padding: 1rem 0;
}

.tachado {
  text-decoration: line-through;
}

.Form {
  padding: 1rem;
}

input, select {
  background-color: var(--color-white);
  border: 0.5px solid rgb(192, 192, 192);
  padding: 0.5rem;
  border-radius: 2.5px;
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0px 1px 10px var(--color-secondary);
}
